*{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    font-size: 13pt;
}

body {
    background-attachment: fixed;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 10% auto;
}

#fondo {
    background-color: rgb(0, 0, 0, .6);
    padding: 2em;
    width: cover;
    height: cover;
    max-width: 80%;
    max-height: 80%;
    border-radius: 2em;
    position: center;

}

nav, .grid{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding: 0%;
  }

li , .boton, .boton2, .estado {
    border-style: solid;
    border-width: thin;
    border-color: rgb(216, 166, 31);
    border-radius: 1em;
    color: rgb(216, 166, 31);
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin: 0.5em;
    margin-top: 0;
    padding: 0.5em;

}


a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 3;
    color: rgb(216, 166, 31);
    padding: 1em;
}

li:last-child a {
    margin-right: 0;
  }

a:hover {
    color: white;
    border-color: white;
}

th, td {
    width: 5%;
    text-align: right;
    vertical-align: top;
    padding: 0.25em;
    border-bottom: 1px solid #999;
 }

 th{
    background: rgb(204, 185, 11, .5);
    text-align: center;
 }

 .titulo{
    margin-top: 0;
    margin-bottom: 2%;
    font-family: 'Imbue', serif;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 36pt;
 }


.boton, .boton2{
    margin: 1em;
    margin-bottom: 3em;
    display: inline-block;
    background-color: rgba(255, 217, 0, 0.6);
    margin-left: 44%;

}

.boton2{
    margin-left: 45%;
    background:rgba(255, 155, 25, 0.6);
    border-color: rgba(255, 155, 25, 0.6);
}



.oculto{
    width:15%;
}

select, #cantidadfrom{
    color:white;
    background-color: rgb(110, 60, 27);
    width: 100%;
    text-align: right;
}
input{
    text-align: right;
    
}

form {
    display:inline;
}

.form {
    width: 100%;
    max-width: 30%;
    display: inline;
    margin-right: 10%;
    margin-bottom: 2%;

}

.err-msg{
    color: rgb(216, 74, 31);
    border-style: solid;
    border-width: thin;
    border-color:  rgb(216, 74, 31);
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.invertir, .estado {
    background:rgba(255, 155, 25, 0.6);
    border-radius: 1em;
    margin-top: 2 em;
    padding: 0.05em;
    text-align: center;
    display: block;
}

p{
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-family: 'Source Code Pro', monospace;
    padding: 0%;
}

.estado {
    background: transparent;
}
