{% extends "base.html" %}

    {% block title %} Movimientos {% endblock %}
    {% block content %}
    <div>
        <div>
            {% for mensaje in mensajes%}
                <h1 class="err-msg">{{ mensaje}}</h1>
            {% endfor %}
        </div>
        <div class="estado">
            <p>Euros invertidos: {{ eurosinvertidos }}</p>
            <p>Valor actual de la inversión: {{ valoractual }}</p>
            <p>Ganancias hasta la fecha: {{ ganancias }}</p>
        </div>
    </div>
    {% endblock %}