{% extends "base.html" %}

    {% block title %} Transacciones {% endblock %}
    {% block titulin %} Transacciones {% endblock %}
    {% block content %}
        <div>
            {% for mensaje in mensajes%}
                <h1 class="err-msg">{{ mensajes}}</h1>
            {% endfor %}
            {% for error in form.monedafrom.errors %}
                <h1 class="err-msg">{{ error }} </h1>
            {% endfor %}
            {% for error in form.cantidadfrom.errors %}
                <h1 class="err-msg">{{ error }} </h1>
            {% endfor %}
        </div>

    <form action="purchase" method="post">
        {{ form.hidden_tag() }}
        <div class="grid">
            <div class="form">
                <label for="monedafrom">
                    {{ form.monedafrom.label}}
                    {{ form.monedafrom(placeholder=form.monedafrom.errors)}}
                    
                </label>
            </div>
            <div class="form">
                <label for="monedato">
                    {{ form.monedato.label}}
                    {{ form.monedato()}}
                </label>
            </div>
            <div class="form">
                <label for="Cantidad">
                    {{ form.cantidadfrom.label}}
                    {{ form.cantidadfrom(placeholder='Escribe un número') }}
                </label>
            </div>
        </div>
        <table>    
            <tr >
            {% if oculto == True %}
                <tr>
                    <th class="monedafrom">From</th>
                    <th class="cantidadfrom">Q</th>
                    <th class="monedato">To</th>
                    <th class="cantidadto">Q</th>
                    <th class="conversion">P.U</th>
                </tr>
                <td class='tabla'>{{ form.monedafromoculto.data }}</td>
                <td class='tabla'>{{ form.monedatooculto.data}}</td>
                <td class='tabla'>{{ form.cantidadfromoculto.data}}</td>
                <td class='tabla'>{{ form.cantidadto.data }}</td>
                <td class='tabla'>{{ form.preciounitario.data }}</td>
            {% endif %}
        </tr>
        </table>

        <div class='b'>
            {% if oculto==True %}
            <div class="boton">
                {{ form.insertar }}
            </div>
            {% endif %} 
            <div class="boton">
                {{ form.calc }}
            </div>  
        </div> 
        

    </form>
    {% endblock %}