{% extends "base.html" %}

    {% block title %} Transacciones {% endblock %}
    {% block titulin %} Transacciones {% endblock %}
    {% block content %}
        <div>
            {% for mensaje in mensajes%}
                <h1 class="err-msg">{{ mensaje}}</h1>
            {% endfor %}
            {% for error in form.monedafrom.errors %}
                <h1 class="err-msg">{{ error }} </h1>
            {% endfor %}
            {% for error in form.cantidadfrom.errors %}
                <h1 class="err-msg">{{ error }} </h1>
            {% endfor %}
        </div>

    <form action="purchase" method="post">
        {{ form.hidden_tag() }}
        <div class="grid">
            <div class="form">
                <label for="Cantidad">
                    {{ form.cantidadfrom.label}}
                    {{ form.cantidadfrom(placeholder='Escribe un número') }}
                </label>
            </div>
            <div class="form">
                <label for="monedafrom">
                    {{ form.monedafrom.label}}
                    {{ form.monedafrom(placeholder=form.monedafrom.errors)}}
                    
                </label>
            </div>
            <div class="form">
                <label for="monedato">
                    {{ form.monedato.label}}
                    {{ form.monedato()}}
                </label>
            </div>
        </div>
        <div class="boton">
            {{ form.calc }}
        </div> 

        {% if oculto == True %}
            <div class="invertir"> 
                <p>RESUMEN DE LA OPERACIÓN</p>
                <p>Comprar {{ form.cantidadto.data }} {{ form.monedatooculto.data}} con {{ form.cantidadfromoculto.data}} {{ form.monedafromoculto.data }}</p>
                <p>A un precio unitario de {{ form.preciounitario.data }}</p>
            </div>
        {% endif %}
        

        <div class='b'>
            {% if oculto==True %}
            <div class="boton2">
                {{ form.insertar }}
            </div>
            {% endif %} 

        </div> 
        

    </form>
    {% endblock %}